.single {
    padding: 2px 26px;
    background: #D8D1D1;
    display: block;
    margin: 20px 30px;
    border-left: 8px solid #fff;
    text-align: center;

}

.single:hover {
    border-left: 8px solid #ED1E32;
}

.heading {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}